* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    box-shadow: 0px 0px 8px gray;
    background-color: #014E56;
    position: relative;
    color: white;
    min-height: 675px;
}

header nav {
    padding: 3rem;
    max-width: 1110px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px 14px;
    border-radius: 0.8rem;
    color: white;
}

header nav ul li a.but {
    border: 1px solid black;
    padding: 1rem 1.5rem;   
}

header nav ul li a:hover {
    background-color: #FFFFFF;
    color: black;
}

header nav ul li a.key {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header nav .hamburger {
    display: none;
    font-size: 1.7rem;
}

header .header___wrapper {
    max-width: 1110px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
}

header .header___wrapper .header___wrapper-item {
    width: 50%;
    display: flex;
}

header .header___wrapper .header___wrapper-item h1 {
    font-size: 80px;
}

header .header___wrapper .header___wrapper-item h1 span {
    color: #F67E7E;
}

header .header-img {
    position: absolute;
    bottom: 0;
    right: 8%;
}

header .header-img img {
    width: 300px;
}

header .header___icon {
    position: absolute;
    left: 0;
    top: 25%;
}

header .header___icon img {
    width: 100px;
}

section {
    width: 100%;
    background-color: #012F34;
    color: white;
    padding: 4rem;
    position: relative;

}

section .section___wrapper {
    max-width: 1110px;
    margin: auto;
    display: flex;
    gap: 2.3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

section .section___wrapper .section___wrapper-item {
    width: 40%;
}

section .section___wrapper .section___wrapper-item:nth-child(2) {
    position: relative;
    top: 65px;
}

section .section___wrapper .section___wrapper-item h1 {
    font-size: 48px;
    font-weight: 700;
}

section .section___wrapper .section___wrapper-item .section___wrapper-second-item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

section .section___wrapper .section___wrapper-item .section___wrapper-second-item .item-text h3 {
    color: #F67E7E;
}

section .section___wrapper .group8 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.box {
    width: 100%;
    background-color: #004047;
    color: white;
    padding: 4rem;
    position: relative;

}

.box .box___wrapper {
    max-width: 1110px;
    margin: auto;
    display: flex;
    gap: 2.3rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;
}

.box .box___wrapper .box___wrapper-item:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .box___wrapper .box___wrapper-item .flexbox {
    width: 30%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.box .box___wrapper .box___wrapper-item .flexbox i {
    display: block;
}

.box .box___wrapper .box___wrapper-item .flexbox img {
    width: 20%;
}

.grid {
    width: 100%;
    background-color: #F67E7E;
    color: black;
    padding: 2rem;
    position: relative;

}

.grid .grid___wrapper {
    max-width: 800px;
    margin: auto;
    display: flex;
    gap: 2.3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

}

.grid .grid___wrapper .grid-item a {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    background-color: #F67E7E;
    color: black;
    padding: 8px 15px;
    border: 2px solid black;
    border-radius: 20px;
}

.grid .grid___wrapper .grid-item a:hover {
    background-color: black;
    color: white;
}

.grid-img {
    position: absolute;
    bottom: -4px;
    left: 0;
}

.grid-img img {
    width: 175px;
}

footer {
    background-color: #002529;
    width: 100%;
}

footer .footer_wrapper {
    max-width: 1110px;
    min-height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .footer_wrapper .card_text {
    color: #FFFFFF;
}

@media only screen and (max-width:800px) {
    header nav {
        max-width: 800px;
    }
    
    header .header___icon {
        display: none   ;
    }
    
    header .header-img {
        text-align: center;
        right: 30%;
    }

    header .header___wrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    header .header___wrapper .header___wrapper-item {
        width: 80%;
        text-align: center;
        margin: auto;
    }

    section .section___wrapper  {
        display: flex;
        flex-direction: column;
    }

    section .section___wrapper .section___wrapper-item {
        width: 80%;
        text-align: left;
        padding: 10px ;

    }

    section .section___wrapper .section___wrapper-second-item {
        width: 80%;
    }

    section .section___wrapper .group8 {
        top: 0 ;
        right: 0 ;
    }

    .box .box___wrapper .box___wrapper-item {
        display: flex;
        flex-direction: column;
    }

    .box .box___wrapper .box___wrapper-item .flexbox {
        width: 90%;
        text-align: center;
        margin: auto;
    }
}





@media only screen and (max-width:500px) {
    header nav {
        max-width: 500px;
    }
    
    header .header___icon {
        display: none   ;
    }
    
    header .header-img {
        text-align: center;
        right: 30%;
    }

    header .header___wrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    header .header___wrapper .header___wrapper-item {
        width: 80%;
        text-align: center;
        margin: auto;
    }

    section .section___wrapper  {
        display: flex;
        flex-direction: column;
    }

    section .section___wrapper .section___wrapper-item {
        width: 80%;
        text-align: left;
        padding: 10px ;

    }

    section .section___wrapper .section___wrapper-second-item {
        width: 80%;
    }

    section .section___wrapper .group8 {
        top: 0 ;
        right: 0;
    }

    .box .box___wrapper .box___wrapper-item {
        display: flex;
        flex-direction: column;
    }

    .box .box___wrapper .box___wrapper-item .flexbox {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .grid {
        min-height: 250px;
    }

    footer .footer_wrapper {
        min-height: 250px;
        align-items: center;
    }

    header nav .list {
        display: none;
    }

    header nav .hamburger {
        display: inline-block;
    }
}